<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/campgrounds/<%=campground._id %>?_method=PUT" method="post">

        <div><label for="title">title</label>
            <input id="title" name="campground[title]" type="text" value='<%=campground.title %>'>
        </div>
        <div><label for="location">location</label>
            <input id="location" name="campground[location]" type="text" value='<%=campground.location %>'>
        </div>
        <button type="submit">submit</button>
    </form>
</body>

</html>