<% layout('layout/boilerplate') %>
    <h1>campgrounds</h1>
    <div><a href="/campgrounds/new">add campground</a></div>
    <% for(campground of campgrounds) { %>
        <li>
            <a href="/campgrounds/<%=campground._id%>">
                <%=campground.title%>
            </a>
        </li>

        <% } %>